<!DOCTYPE html>
<html>
<head>
    <title>SSO-DEMO</title>
</head>
<body>
    <% if(!isAuthenticated) {%>
        <a href="/login"> Log in here</a>
    <%} else {%>
        Hello <%= user.uid%>!
        <a href="/logout"> Logout</a>
    <%}%>
</body>
</html>
