<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body>

<form action="" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Log In"/>
</form>

</body>
</html>


